$mainGrey: #2E3842;
$secondaryGrey: #556980;
/* $mainOrange: #D59541; */
/* $mainOrange: #B95E04; */
$mainOrange: #A64E0F;
$mainBlue: #E0E6EF;

/* $mainTurqoise: #21B2A6;
$mainPurple: #505393;
$mainBlue: #2F5572; */

$textWidth: 700px;