/* @import 'normalize.css'; */
/* $mainOrange: #D59541; */
/* $mainOrange: #B95E04; */
/* $mainTurqoise: #21B2A6;
$mainPurple: #505393;
$mainBlue: #2F5572; */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: 'Open Sans', 'Roboto', Helvetica, sans-serif;
  color: #556980;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Roboto', Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 0.2em 0;
  line-height: 1.625;
  font-weight: 400;
}
@media (min-width: 768px) {
p {
    font-size: 1.125rem
}
    }
a {
  color: #A64E0F;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.l-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 576px) {
.l-wrapper {
    padding-left: 45px;
    padding-right: 45px
}
    }
.sidebar {
    min-width: 280px;
}
